django==3.2.25
django-environ
django-filter
mysqlclient
channels==3.0.1
# pyopenssl==21.0.0
django-db-views
djangorestframework == 3.15.2
coreapi
requests_toolbelt
py_eureka_client
gunicorn
uvicorn
channels-redis==3.3.1
djangorestframework-jwt
websockets
pyfcm==1.5.4
opengraph_parse
pyforkurento
django-storages[google]
easy-thumbnails
flake8
coverage